body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    
}

.card{
    width: 470px;
    box-shadow: 10px 10px 20px gray;
}

.input{
    border-radius: 50px;
}